.listBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.listPeople {
    font-size: 16px;
    width: 300px;
}

.liBox {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.personInfo {
    display: flex;
    align-items: center;
}

.buttonBox {
    padding: 4px 14px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
}

.buttonBox:hover{
    background-color: rgb(206, 108, 108);
    border: 1px solid transparent;
    color: #fff;
}