.list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.list-people {
    font-size: 16px;
    width: 300px;
}

.li-box {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.person-info {
    display: flex;
    align-items: center;
}

.button-box {
    padding: 4px 14px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
}

.button-box:hover{
    background-color: rgb(206, 108, 108);
    border: 1px solid transparent;
    color: #fff;
}